.grid-main{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    grid-template-rows:repeat(3, 200px);
}
.grid1 img{
    height: 200px;
    width: 200px;
    border: 2px solid white;
}
